
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/admin/assets/css/styles.min.css" />
  <link rel="stylesheet" href="/admin/assets/css/user.css" />
  
  <title>Admin Dashboard</title>
 
</head>
<body>
  <!-- Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between hello">
        
            <img src="/admin/assets/images/logos/dark-logo.svg" width="180" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin" aria-expanded="false">
                <span></span>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/products/category" aria-expanded="false">
                <span></span>
                <span class="hide-menu">Category</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/products" aria-expanded="false">
                <span></span>
                <span class="hide-menu">Products</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/users" aria-expanded="false">
                <span></span>
                <span class="hide-menu">Users</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/orders" aria-expanded="false">
                <span></span>
                <span class="hide-menu">Orders</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/coupons" aria-expanded="false">
                <span></span>
                <span class="hide-menu">Coupon</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/logout" aria-expanded="false">
                <span></span>
                <span class="hide-menu">Logout</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!-- Sidebar End -->
    <!-- Main wrapper -->
    
<body>
  <link rel="stylesheet" href="/admin//assets/css/styles.min.css" />
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">
  <!-- Sidebar Start -->
 
  <!--  Sidebar End -->
  <!--  Main wrapper -->

  
<!-- table -->

<div class="col-lg-8 d-flex align-items-stretch main">
  <div class="card w-100">
    <div class="card-body p-4 ">
      <div class="button w-100 d-flex  justify-content-end">
        <a style="margin-right: 10px; width: 200px;" href="/products/addcategory" class="btn btn-primary">Add Categories</a>
        <a style="width: 200px;" href="/products/deletedcategories" class="btn btn-danger">Deleted Categories</a>
    </div>
      <h5 class="card-title fw-semibold mb-4" id="table">Category list</h5>
      <div class="table-responsive" id="table">
        <table id="p-table" class="table text-nowrap mb-0 align-middle table-bordered" style="border:1px solid black; text-align:center">
          <thead class="text-dark fs-4">
            <tr>
             
              <th class="border-bottom-0">
                <h6 class="fw-semibold mb-0">Category</h6>
              </th>
              <th class="border-bottom-0">
                <h6 class="fw-semibold mb-0">Actions</h6>
              </th>
             
            </tr>
          </thead>
          <tbody id="tbody">
            <%if(categories){%>

              <%categories.forEach((category)=>{%>
                <tr id="<%=category._id%>">
                  <td class="border-bottom-0">
                    <p class="mb-0 fw-semibold"><%= category.categoryName%></p>
                  </td>
                  <td class="border-bottom-0">
                    <a href="/products/editcategory/<%=category._id%>"><button class="badge bg-primary rounded-3 fw-semibold">Edit</button></a>
                    <button onclick="deleteCat('<%=category._id%>')"  class="badge bg-danger rounded-3 fw-semibold">Delte</button>
                  </td>
                 
                </tr>
              <%})%>
                
              <%}%>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/sidebarmenu.js"></script>
<script src="../assets/js/app.min.js"></script>
<script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="../assets/libs/simplebar/dist/simplebar.js"></script>
<script src="../assets/js/dashboard.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>


<script>
  function deleteCat(catId){
 
    let row = document.getElementById(catId)
    row.addEventListener('click',(e)=>{
      Swal.fire({
          title: "Delete this category ?",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, Delete"
        }).then((result) => {
          if (result.isConfirmed) {
            Swal.fire({
              title: "Deleted!",
              text: "Your can restore this",
              icon: "success"
            });
            axios.post(`/products/deletecategory/?catId=${catId}`).then((response) => {
              if (response.status == 200) {
                  const row = document.getElementById(catId);
                  if (row) {
                      row.parentNode.removeChild(row); 
                  }
              }
          });
          
          }
        });
    })
  }
</script>

</body>
