
<%- include('../layouts/header')%>
<link rel="stylesheet" href="/public/admin//assets/css/styles.min.css" />
<link rel="stylesheet" href="/public/admin/assets/css/category.css">
<body>
     <!-- Sidebar Start -->
  <aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
      <div class="brand-logo d-flex align-items-center justify-content-between">
        <a href="./index.html" class="text-nowrap logo-img">
          <img src="/public/admin/assets/images/logos/dark-logo.svg" width="180" alt="" />
        </a>
        <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
          <i class="ti ti-x fs-8"></i>
        </div>
      </div>
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
        <ul id="sidebarnav">
        
          <li class="sidebar-item">
            <a class="sidebar-link" href="./index.html" aria-expanded="false">
              <span>
        
              </span>
              <span class="hide-menu">Dashboard</span>
            </a>
          </li>
         
          <li class="sidebar-item">
            <a class="sidebar-link" href="./ui-buttons.html" aria-expanded="false">
              <span>
              </span>
              <span class="hide-menu">Category</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="./ui-alerts.html" aria-expanded="false">
              <span>
             
              </span>
              <span class="hide-menu">Products</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="./ui-card.html" aria-expanded="false">
              <span>
             
              </span>
              <span class="hide-menu">Users</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="./ui-forms.html" aria-expanded="false">
              <span>
               
              </span>
              <span class="hide-menu">Orders</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="./ui-typography.html" aria-expanded="false">
              <span>
                
              </span>
              <span class="hide-menu">Coupen</span>
            </a>
          </li>

          <li class="sidebar-item">
              <a class="sidebar-link" href="./ui-typography.html" aria-expanded="false">
                <span>
                  
                </span>
                <span class="hide-menu">Logout</span>
              </a>
            </li>
          
         
        
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>
  <!--  Sidebar End -->


  <!-- main div -->


  <section class="mainsection">
   <div class="col-md-6 mt-5">
        <div class="buttons">
            <a href="" class="btn btn-primary btn1">Add New Category</a>
            <a href="" class="btn btn-warning">Delete Categories</a>
        </div>
    <table class="table table-bordered mt-2">
        <thead>
          <tr>
            <th scope="col">Category name</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Male</th>
            <td><a href="" class="btn btn-primary">Edit</a></td>
            <td><a href="" class="btn btn-danger">Delete</a></td>
            
          </tr>
         
        </tbody>
      </table>
   </div>
  </section>
</body>

<%- include('../layouts/footer')%>
 