<link rel="stylesheet" href="/user/css/login.css">

<body>
    <div class="main">
        <div class="image">
            <img class="logo" src="/user/img/logo.png" alt="">
        </div>

        <div class="form">
            <form action="/login" method="post">
                <label for=""><b>Email</b></label>
                <div class="form-group">
                    <input type="email" name="email" class="inp" placeholder="Enter Your Email">
                </div>
                    <br>
                <label for=""><b>Password</b></label>
                <div class="form-group">
                    <input type="password" id="password" name="password" class="inp" placeholder="Enter Your Password">
                    <a href="#" onclick="protectPass('password')"><img src="/user/img/icon/211661_eye_icon.png" class="icon" alt=""></a>
                </div>
                <a href="/otplogin" class="otp">Login with otp</a>
                <button type="submit" class="loginbtn">LOGIN</button>
            </form>
        </div>
        <p class="or">OR</p>
        <button class="gsignin">
            <img class="google" src="/user/img/icon/google-icon-2048x2048-pks9lbdv.png" alt="" width="25px" height="25px">
            <p class="btntxt">Continue with google</p>
        </button>
        <a href="/register" class="register"><p>New to MenFashion ? Create an account here</p></a>
    </div>

    <div class="footer">
        <p>Contact Us</p>
        <p>Terms & Conditions</p>
        <p>Privacy Policy</p>
    </div>
</body>

<script>
    function protectPass(inputId) {
        const input = document.getElementById(inputId);
        if (input.type === 'password') {
            input.type = 'text';
        } else {
            input.type = 'password';
        }
    }
</script>