<link rel="stylesheet" href="/user/css/otp.css">

<body>
    <div class="main">
        <div class="image">
            <img class="logo" src="/user/img/logo.png" alt>
        </div>
       
        <p id="timer"></p>
        <p id="txt">Seconds left</p>
        <div class="form">
            <form action="/otpverify" method="post"  id="form">
                <div class="form-group">
                    <input type="text" name="otp" class="inp"  id="otp">
                </div>
                <br>
                <button type="submit" class="otpbtn">Verify</button>
              
            </form>
            <div class="links">
                <a class="resend" href="/resendOTP">Resend otp</a>
                <a class="login" href="/login">Login with Password</a>
            </div>
           
        </body>


        <script>
            const timer = document.getElementById("timer");
            const otpInput = document.getElementById("otp");
            const submitButton = document.getElementById("submit")
            const message = document.getElementById("message");
            const txt = document.getElementById("txt")
            const resend = document.getElementsByClassName("resend")
            let i = 80;
            timer.innerHTML =i;
            function* generator(){
                while(true){
                    timer.innerHTML = i;
                    yield
                    i--
                }
            }
            const time = generator();
           
            const interval = setInterval(()=>{
                time.next()
                if (i === 0) {
                    timer.innerHTML = "Your OTP has expired";
                    timer.style.color = "red"
                    txt.style.display = "none"
                    resend.style.display = "none"
                    clearInterval(interval);
                }
            },1000)

            setTimeout(()=>{
                clearInterval(interval)
            },81000)

            const form = document.getElementById("form");
                form.addEventListener('submit', (e) => {
                    e.preventDefault();
                    const otp = document.getElementById('otp').value;
                    axios.post(`/verifyOTP/?data=${otp}`)
                    
                        .then((response) => {
                           if(response.status == 200){
                            window.location.href = "/"
                           }
                        })
                        .catch((error) => {
                            // Handle errors
                            console.error('Error:', error);
                            // Display the error message on the frontend
                            document.getElementById("error").innerHTML = error.response.data;
                        });
                });
        
        </script>
        <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
<%- include('../layouts/footer') %>